@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  color: #E4D804;
}

ul {
  list-style: none;
}

.page-body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  background-color: #111;
}

.container {
  margin: 0 auto;
  padding: 0 82px;
  width: 100%;
  max-width: 1920px;
}

.hidden {
  display: none;
}

.viseble {
  display: block;
}

@media (max-width: 992px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
@media (max-width: 425px) {
  .container {
    padding: 0 5px;
  }
}
.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E4D804;
  min-height: 45px;
}

.top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top__text {
  font-weight: 400;
  line-height: 1;
  margin: 0.5rem 1rem;
  text-align: center;
}

.top__btn {
  padding: 4px 50px;
  background-color: #ffffff;
  margin: 0.5rem;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  border-radius: 100px;
}
.header {
  background-color: #111;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 1fr -webkit-max-content -webkit-max-content;
  -ms-grid-columns: max-content 1fr max-content max-content;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content 1fr max-content max-content;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  min-height: 120px;
}

.header__link-wrap-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: 700px;
  width: 100%;
  padding: 0 20px;
}

.nav-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.nav-link:hover {
  color: #E4D804;
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #E4D804;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}
.nav-link:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__nav-link {
  color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__nav-link:not(:last-child) {
  margin-right: 40px;
}
.header__nav-link:hover {
  color: #E4D804;
}
.header__nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #E4D804;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}
.header__nav-link:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__form-serch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__input-serch {
  display: none;
}

.header__btn-serch {
  background-color: transparent;
  padding: 2rem;
  border: none;
  outline: none;
}

@media (max-width: 1440px) {
  .header__container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    padding-bottom: 50px;
    row-gap: 20px;
  }
  .header__link-wrap-logo {
    grid-column: 1/-1;
    margin: 2rem 1rem;
  }
  .nav {
    margin: 20px 0;
    grid-column: 1/-1;
  }
  .nav-list {
    max-width: 700px;
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .nav-list {
    display: none;
    position: absolute;
    z-index: 101;
    top: 100%;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #111;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
    min-height: 300px;
    width: 100%;
  }
  .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
  }
  .nav-list--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.soc {
  display: -ms-grid;
  display: grid;
  max-width: 180px;
  row-gap: 10px;
}

.soc__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: #E4D804;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
}
.soc__share::before {
  content: url("../img/share.svg");
  margin-right: 7px;
}

.soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0;
  padding: 0;
}

@media (max-width: 1440px) {
  .soc {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
@media (max-width: 1024px) {
  .soc {
    margin: 2rem auto;
    grid-column: 1/-1;
    row-gap: 1rem;
    max-width: 300px;
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .soc-img {
    width: 50px;
  }
}
.baner {
  background-color: #111;
  height: 884px;
}

.slider {
  position: relative;
  max-width: 1920px;
  max-height: 884px;
  height: 100%;
  margin: 0 auto;
}

.slider__vew-port {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.slider__line {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.slider__item {
  max-height: 884px;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  overflow: hidden;
}

.item {
  background-color: transparent;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item a {
  display: block;
  height: 100%;
  width: 100%;
}

.item-0 {
  background-image: url("../img/baner-img-0.jpg");
}

.item-1 {
  background-image: url("../img/baner-img-1.jpg");
}

.item-2 {
  background-image: url("../img/baner-img-2.jpg");
}

.slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
  outline: none;
  width: 55px;
  height: 55px;
}

.btn-prev {
  left: 5%;
}

.btn-next {
  right: 5%;
}

.svg-arr {
  margin-top: 5px;
}

.svg-arr-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15px;
  padding: 1rem;
  cursor: pointer;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.dot--active {
  height: 15px;
  width: 15px;
  background-color: #E4D804;
}
.dot:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 1800px) {
  .baner {
    height: 700px;
  }
}
@media (max-width: 1440px) {
  .baner {
    height: 500px;
  }
}
@media (max-width: 1024px) {
  .baner {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .baner {
    height: 300px;
  }
}
@media (max-width: 425px) {
  .baner {
    height: 200px;
  }
}
.card-wrap {
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.card-wrap::after {
  position: absolute;
  content: url(../img/arr_down.svg);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 110;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.card-wrap::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(17, 17, 17, 0.63);
  border: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 110;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.card-wrap:hover .card__img {
  opacity: 0.45;
}
.card-wrap:hover.card-wrap::before {
  opacity: 1;
}
.card-wrap:hover.card-wrap::after {
  opacity: 1;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 410px;
  width: 290px;
  background-color: #111;
  padding: 0.5rem;
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__resolution {
  position: absolute;
  left: 9px;
  top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22px;
  width: 63px;
  border-radius: 2px;
  border: none;
  outline: none;
  background-color: #E4D804;
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  text-align: center;
}
.card__resolution p {
  margin: 0;
  padding: 0;
}

.card__rating {
  position: absolute;
  right: 9px;
  top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63px;
  height: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #ffffff;
}
.card__rating p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-left: 8px;
}
.card__rating::before {
  content: url(../img/rating.svg);
}

.card-b {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 550px;
  width: 339px;
  border-radius: 12px;
  background-color: transparent;
  padding: 23px 23px 0 23px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.card-b:hover {
  background-color: #111;
  -webkit-box-shadow: 0px 0px 70px #000000;
          box-shadow: 0px 0px 70px #000000;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
.card-b:hover .card-b__img {
  opacity: 0.45;
}
.card-b:hover .card-b__wrap-img::after {
  opacity: 1;
}
.card-b:hover .card-b__wrap-img::before {
  opacity: 1;
}

.card-b__wrap-img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 294px;
  height: 413px;
}
.card-b__wrap-img::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(17, 17, 17, 0.63);
  border: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 10;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.card-b__wrap-img::after {
  position: absolute;
  content: url(../img/arr_down.svg);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 20;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.card-b__img {
  width: 100%;
  height: 100%;
}

.card-b__resolution {
  position: absolute;
  left: 9px;
  top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22px;
  width: 63px;
  border-radius: 2px;
  border: none;
  outline: none;
  background-color: #E4D804;
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  text-align: center;
}
.card-b__resolution p {
  margin: 0;
  padding: 0;
}

.card-b__rating {
  position: absolute;
  right: 9px;
  top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63px;
  height: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #ffffff;
  background-color: #000;
}
.card-b__rating p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-left: 8px;
}
.card-b__rating::before {
  content: url(../img/rating.svg);
}

.card-b__wrap-time {
  margin: 0.5rem;
}

.card-b__year,
.card-b__time {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #E4D804;
}

.card-b__year {
  position: relative;
  display: inline-block;
  margin-right: 17px;
}
.card-b__year::after {
  position: absolute;
  content: "";
  right: -15px;
  top: 1px;
  height: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.card-b__time {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}
.card-b__time::before {
  position: absolute;
  content: url(../img/clock.svg);
  left: -18px;
  top: 1px;
}

.card-b__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.rec-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}

.vew {
  display: block;
  font-size: 0;
  margin: 0 auto;
}

.line {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card-wrap {
  background-color: red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rec__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 10px;
  border: none;
  outline: none;
  width: 210px;
  height: 100%;
}

.prev {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(17, 17, 17)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, rgb(17, 17, 17), rgba(0, 0, 0, 0));
  background: linear-gradient(to right, rgb(17, 17, 17), rgba(0, 0, 0, 0));
}

.next {
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgb(17, 17, 17)));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgb(17, 17, 17));
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(17, 17, 17));
}

.bestsellers {
  min-height: 670px;
  background-color: #111111;
  padding: 72px 0 0 0;
}

.bestsellers__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #E4D804;
}

.bestsellers__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.newest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1756px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  background: #111;
  -webkit-box-shadow: 0px 0px 110px #000000;
          box-shadow: 0px 0px 110px #000000;
  border-radius: 12px;
  margin-bottom: 45px;
}

.newest__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content -webkit-max-content 1fr;
  -ms-grid-columns: max-content max-content 1fr;
  grid-template-columns: -webkit-max-content -webkit-max-content 1fr;
  grid-template-columns: max-content max-content 1fr;
  margin: 0 58px 45px 58px;
}

.newest__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  color: #ffffff;
}

.newest__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #E4D804;
  margin-left: 22px;
  padding: 0;
  margin: 0;
}
.newest__subtitle::before {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 22px;
}

.newest__wrap-btn {
  -ms-grid-column-align: end;
      justify-self: end;
  position: relative;
}

.newest__btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0;
  margin: 0;
  width: 158px;
  height: 39px;
  background-color: transparent;
  border-radius: 3px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  text-align: center;
}
.newest__btn:hover {
  color: #E4D804;
}
.newest__btn:hover .newest__btn-arr path {
  fill: #E4D804;
}

.newest__btn-arr {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
.newest__btn-arr--active {
  -webkit-transform: translateY(-2px) rotate(180deg);
      -ms-transform: translateY(-2px) rotate(180deg);
          transform: translateY(-2px) rotate(180deg);
}

.newest__drop-list {
  position: absolute;
  z-index: 20;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  padding: 0;
  margin: 0;
  background-color: #111;
}
.newest__drop-list--active {
  display: block;
}

.newest__drop-item {
  padding: 0.4em 2.2em;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.newest__drop-item:hover {
  color: #E4D804;
}

.newest__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (-webkit-max-content)[5];
  -ms-grid-columns: (max-content)[5];
  grid-template-columns: repeat(5, -webkit-max-content);
  grid-template-columns: repeat(5, max-content);
  margin: 0 auto;
  padding: 0;
}

.newest__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 195px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
}

.newest__pag-btn {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 30px;
}

.newest__pag-next-btn {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.newest__wrap-pag-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newest__pag-num {
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 5px;
}
.newest__pag-num--active {
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 21px;
  font-weight: 700;
  color: #E4D804;
}

@media (max-width: 1710px) {
  .newest__content {
    -ms-grid-columns: (-webkit-max-content)[4];
    -ms-grid-columns: (max-content)[4];
    grid-template-columns: repeat(4, -webkit-max-content);
    grid-template-columns: repeat(4, max-content);
  }
}
@media (max-width: 1355px) {
  .newest__content {
    -ms-grid-columns: (-webkit-max-content)[3];
    -ms-grid-columns: (max-content)[3];
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
  }
}
@media (max-width: 1024px) {
  .newest__content {
    -ms-grid-columns: (-webkit-max-content)[2];
    -ms-grid-columns: (max-content)[2];
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
  }
}
@media (max-width: 768px) {
  .newest__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .newest__subtitle {
    position: relative;
    padding: 0;
    margin: 10px 0 0 0;
  }
  .newest__subtitle::before {
    position: absolute;
    content: "";
    margin: 10px 0 0 0;
    width: 40%;
    left: 50%;
    top: -20px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .newest__btn {
    width: 100%;
  }
  .newest__drop-list {
    width: 100%;
  }
  .newest__drop-list > * {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 690px) {
  .newest__content {
    -ms-grid-columns: (-webkit-max-content)[1];
    -ms-grid-columns: (max-content)[1];
    grid-template-columns: repeat(1, -webkit-max-content);
    grid-template-columns: repeat(1, max-content);
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 266px;
  padding-top: 180px;
  padding-bottom: 220px;
  margin: 0 auto;
}

.footer__alpha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 266px;
  width: 327px;
}

.footer__desc {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
}
.footer__desc::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  margin-top: 10px;
  border: 1px solid #ffffff;
  opacity: 0.1;
  width: 100%;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  color: #ffffff;
  margin: 10px 0 0 0;
}

.footer__beta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 266px;
}

.footer__menu {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: right;
  color: #ffffff;
}

.footer__ref {
  position: relative;
  font-family: Jost;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: right;
}
.footer__ref::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  margin-top: 10px;
  border: 1px solid #ffffff;
  opacity: 0.1;
  width: 100%;
}

@media (max-width: 992px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
  }
  .footer__alpha {
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__desc::after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -25px;
    margin-top: 10px;
    border: 1px solid #ffffff;
    opacity: 0.1;
    width: 50%;
  }
  .footer__copy {
    margin-top: 20px;
  }
  .footer__beta {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__ref {
    width: 100%;
  }
  .footer__ref::after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -25px;
    margin-top: 10px;
    border: 1px solid #ffffff;
    opacity: 0.1;
    width: 50%;
  }
  .footer__a {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .footer__copy {
    margin-top: 40px;
  }
}
.search {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  max-height: 60px;
  max-width: 370px;
  width: 100%;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  -ms-grid-row-align: center;
      align-self: center;
  color: transparent;
  background-color: transparent;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.search:hover {
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.7);
  background: #161616;
}
.search:hover .search__input {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.search__input {
  outline: none;
  border: none;
  background-color: transparent;
  background: transparent;
  color: transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-left: 20px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.search__btn {
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  background-color: transparent;
  background: transparent;
}

.search__res-list {
  position: absolute;
  top: 102%;
  left: 0;
  width: 100%;
  cursor: pointer;
  background: #161616;
  padding: 0 20px;
  z-index: 100;
}

@media (max-width: 1440px) {
  .search {
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.7);
    background: #161616;
  }
  .search__input {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .search {
    grid-column: 1/-1;
  }
}
@media (max-width: 768px) {
  .search {
    margin: 0;
  }
  .search__input {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .search {
    min-width: 300px;
  }
}
.search-b {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  max-height: 76px;
  max-width: 1639px;
  width: 100%;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.7);
  background: #161616;
  margin: 0 auto;
}

.search-b__input {
  outline: none;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.search-b__btn {
  width: 76px;
  height: 76px;
  outline: none;
  border: none;
  background-color: transparent;
  background: transparent;
}

@media (max-width: 375px) {
  .search-b {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .search-b__input {
    max-width: 100%;
    width: 100%;
  }
}
.oops {
  min-height: 733px;
  max-width: 1756px;
  width: 100%;
  border-radius: 12px;
  background: #111;
  -webkit-box-shadow: 0px 2px 100px #000;
          box-shadow: 0px 2px 100px #000;
  padding-top: 100px;
  padding-bottom: 100px;
}

.oops__wrap-text {
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opps__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #E4D804;
}

.opps__desc {
  font-size: 148px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.oops__block-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 156px;
  background: #161616;
  border-radius: 19px;
  padding: 10px;
}

.oops__help-txt {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.oops__list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 60px;
}

.oops__item {
  margin: 18px;
}

.oops__link {
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px 24px;
}
.oops__link:hover {
  border: 1px solid #E4D804;
  color: #E4D804;
}

@media (max-width: 1440px) {
  .oops__block-help {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .oops__help-txt {
    margin-bottom: 20px;
  }
  .oops__list-btn {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .oops__help-txt {
    margin-bottom: 20px;
  }
  .oops__list-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .oops__item {
    width: 100%;
    margin: 10px 0;
  }
  .oops__link {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .opps__desc {
    font-size: 100px;
  }
}
@media (max-width: 375px) {
  .opps__desc {
    font-size: 80px;
  }
}
.desc {
  min-height: 1204px;
  background: #111;
  -webkit-box-shadow: 0px 2px 100px #000;
          box-shadow: 0px 2px 100px #000;
  border-radius: 12px;
  padding: 90px 70px;
  margin-bottom: 107px;
}

.desc__wrap {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: 80px;
}

.desc__slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 207px;
  grid-template-columns: 1fr 207px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.desc__img-big {
  width: 100%;
  height: auto;
}

.desc__img-min {
  width: 100%;
  height: auto;
}

.desc__info {
  position: relative;
  min-height: 732px;
  width: 100%;
}

.desc_wrp-res-rat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.desc__resolution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22px;
  width: 63px;
  border-radius: 2px;
  border: none;
  outline: none;
  background-color: #E4D804;
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  text-align: center;
}
.desc__resolution p {
  margin: 0;
  padding: 0;
}

.desc__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63px;
  height: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #ffffff;
  background-color: #000;
}
.desc__rating p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-left: 8px;
}
.desc__rating::before {
  content: url(../img/rating.svg);
}

.desc__top-week {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #E4D804;
}

.desc__name {
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.desc__wrap-time {
  margin-bottom: 40px;
}

.desc__time,
.desc__year {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.desc__year {
  position: relative;
}
.desc__year::before {
  content: url("../img/date.svg");
  margin-right: 10px;
}
.desc__year::after {
  content: "";
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 10px;
}

.desc__time::before {
  content: url("../img/time-y.svg");
  margin-right: 10px;
  margin-left: 10px;
}

.desc__wrap-studio {
  margin-bottom: 20px;
}

.desc__studio {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.desc__studio-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 10px;
  width: 113px;
  height: 29px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 2px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.6;
  color: #ffffff;
}

.desc__cast {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}

.desc__cast-text {
  margin-left: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.desc__wrap-dow {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 13px;
  -webkit-column-gap: 13px;
     -moz-column-gap: 13px;
          column-gap: 13px;
  margin-top: 50px;
}

.desc__btn-dow {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 1/-1;
  min-width: 350px;
  min-height: 127px;
  height: 100%;
  background: #E4D804;
  -webkit-box-shadow: 0px 13px 30px rgba(228, 216, 4, 0.17);
          box-shadow: 0px 13px 30px rgba(228, 216, 4, 0.17);
  border-radius: 5px;
}

.desc__btn-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.desc__btn-txt::after {
  content: url("../img/arr_dow_white.svg");
  margin-left: 13px;
}

.desc__how-dow,
.desc__dmca {
  height: 58px;
  min-width: 266px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: 1px solid rgba(217, 217, 217, 0.3);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0;
  outline: none;
}
.desc__how-dow:hover,
.desc__dmca:hover {
  color: #E4D804;
  border-color: #E4D804;
}

.parts {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 794px;
  width: 100%;
  min-height: 328px;
  background: #111;
  -webkit-box-shadow: 0px 2px 100px #000000;
          box-shadow: 0px 2px 100px #000000;
  border-radius: 12px;
  padding: 65px 35px 0 35px;
}

.parts__close {
  position: absolute;
  top: 20px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 31px;
  width: 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #111;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px -1px 29px #000000;
          box-shadow: 0px -1px 29px #000000;
  border-radius: 21.5px;
}

.parts__list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 725px;
  min-height: 143px;
  background: #161616;
  border: 1px solid #161616;
  border-radius: 19px;
  margin: 0;
  padding: 30px 70px;
}

.parts__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
}

.parts__item:not(:first-child):not(:nth-child(6n))::after {
  position: absolute;
  left: 0;
  content: "";
  height: 26px;
  border-left: 1px solid rgba(255, 255, 255, 0.24);
}

.parts__attention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  max-width: 541px;
  margin: 30px auto;
  color: #ffffff;
}
.parts__attention::before {
  content: url("../img/attention.svg");
  margin-right: 18px;
}

.desc__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
}

.desc__text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}

.desc__block {
  min-height: 177px;
  max-width: 1537px;
  width: 100%;
}

.desc__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 35px;
}
.desc__title::after, .desc__title::before {
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 550px;
  width: 25vw;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.desc__title::after {
  margin-left: 50px;
  margin-right: 50px;
}
.desc__title::before {
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 1440px) {
  .desc__slider {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr -webkit-max-content;
    -ms-grid-rows: 1fr max-content;
    grid-template-rows: 1fr -webkit-max-content;
    grid-template-rows: 1fr max-content;
  }
  .desc__line {
    overflow: hidden;
  }
  .desc__img-min {
    max-width: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .desc__wrap-dow {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (-webkit-max-content)[3];
    -ms-grid-rows: (max-content)[3];
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
  }
  .desc__btn-dow {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}
@media (max-width: 992px) {
  .desc {
    padding: 0;
  }
  .desc__wrap {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[max-content];
    grid-template-rows: repeat(-webkit-max-content, 1fr);
    grid-template-rows: repeat(max-content, 1fr);
  }
}
@media (max-width: 425px) {
  .desc__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: #ffffff;
    margin-bottom: 35px;
  }
  .desc__title::after, .desc__title::before {
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    max-width: 550px;
    width: 25vw;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }
  .desc__title::after {
    margin-left: 10px;
    margin-right: 10px;
  }
  .desc__title::before {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.contact {
  min-height: 1136px;
  background: #111;
  -webkit-box-shadow: 0px 2px 100px #000000;
          box-shadow: 0px 2px 100px #000000;
  border-radius: 12px;
  color: #ffffff;
  text-align: center;
  padding: 90px 50px;
}

.contact__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contact__desc {
  max-width: 1188px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact__btn-info {
  display: inline-block;
  width: 219px;
  height: 36px;
  font-weight: 500;
  border: 1px solid #575757;
  border-radius: 5px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.contact__inp-name,
.contact__inp-email,
.contact__text-area {
  max-width: 700px;
  width: 100%;
  height: 61px;
  background-color: #161616;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 20px;
  padding-left: 60px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
}
.contact__inp-name::-webkit-input-placeholder, .contact__inp-email::-webkit-input-placeholder, .contact__text-area::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
}
.contact__inp-name::-moz-placeholder, .contact__inp-email::-moz-placeholder, .contact__text-area::-moz-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
}
.contact__inp-name:-ms-input-placeholder, .contact__inp-email:-ms-input-placeholder, .contact__text-area:-ms-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
}
.contact__inp-name::-ms-input-placeholder, .contact__inp-email::-ms-input-placeholder, .contact__text-area::-ms-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
}
.contact__inp-name::placeholder,
.contact__inp-email::placeholder,
.contact__text-area::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
}

.contact__text-area {
  min-height: 268px;
  margin-bottom: 40px;
  background-image: url("../img/send.svg");
  background-position-y: 20px;
  padding-top: 25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #161616 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
}

.contact__group-name {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  max-width: 700px;
  width: 100%;
}
.contact__group-name::before {
  content: url("../img/name.svg");
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
          transform: translateY(-45%);
}

.contact__group-email {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  max-width: 700px;
  width: 100%;
}
.contact__group-email::before {
  content: url("../img/mail.svg");
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
}

.contact__btn-sent {
  width: 366px;
  height: 81px;
  background: #e4d804;
  -webkit-box-shadow: 0px 11px 25px rgba(228, 216, 4, 0.17);
          box-shadow: 0px 11px 25px rgba(228, 216, 4, 0.17);
  border-radius: 5px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: color-bg-alpha;
  margin-bottom: 70px;
  cursor: pointer;
}
.contact__btn-sent:hover {
  background: yellow;
}
.contact__btn-sent:active {
  -webkit-box-shadow: 0px 11px 25px rgba(228, 216, 4, 0);
          box-shadow: 0px 11px 25px rgba(228, 216, 4, 0);
}

.contact__block-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1590px;
  min-height: 87px;
  background: #161616;
  border: 1px solid #161616;
  border-radius: 19px;
  margin: 0 auto;
  padding: 20px;
}

.contact__mail-txt {
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  text-transform: uppercase;
}

.contact__mail {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-transform: uppercase;
  color: #E4D804;
}

/* Стили для подложки */
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

/* Стили для контейнера модального окна */
.modal__container {
  min-width: 700px;
  background-color: #111111;
  border-radius: 14px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
}

/* Стили для заголовка модального окна */
.modal__title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Стили для текста модального окна */
.modal__text {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

.modal__btn-close {
  width: 366px;
  height: 81px;
  background: #e4d804;
  -webkit-box-shadow: 0px 11px 25px rgba(228, 216, 4, 0.17);
          box-shadow: 0px 11px 25px rgba(228, 216, 4, 0.17);
  border-radius: 5px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: color-bg-alpha;
  margin-bottom: 70px;
  margin: 1em;
}

/* Стили для кнопки закрытия модального окна */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

@media (max-width: 992px) {
  .contact {
    padding: 90px 20px;
  }
  .contact__block-mail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
  .contact__btn-sent {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .contact {
    padding: 90px 5px;
  }
}
.best {
  min-height: 616px;
  background: #111111;
  margin: 0 auto;
  padding: 55px 0;
  -webkit-box-shadow: 0px 2px 100px #000;
          box-shadow: 0px 2px 100px #000;
}

.header__btn-burger {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 30px;
  height: 30px;
}

@media (max-width: 600px) {
  .header__btn-burger {
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .header__btn-burger span {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__btn-burger span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .header__btn-burger span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  .header__btn-burger--active span:nth-of-type(1) {
    left: -100%;
  }
  .header__btn-burger--active span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  .header__btn-burger--active span:nth-of-type(3) {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
}
.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  line-height: 0.75;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
  color: #ffffff;
}

.rating__active {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #E4D804;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 100%;
  padding: 0 0 0 10px;
  line-height: 1;
}